@font-face {
  font-family: "proximanova";
  src: url(../fonts/proximanova_regular.ttf) format("ttf");
}

* {
  font-family: "proximanova", sans-serif;
}

h1,
h3 {
  font-style: italic;
}

.cafe-wrapper {
  display: flex;
  flex-direction: row;
  margin: 1rem 5rem;
  background-color: white;
}
.cafe__nav {
  height: 100%;
  width: 12rem;
  position: fixed;
  margin-right: 1rem;
}

.cafe__list {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.6rem;
  padding-left: 0;
}

.cafe__list li a {
  text-decoration: none;
  color: #9d9d9d;
}

.cafe__list li a:hover {
  color: black;
}

.cafe__list li:nth-child(1) a {
  color: black;
}

.cafe__home {
  display: flex;
  flex-direction: column;
  margin-left: 12rem;
}
.cafe__main {
  display: flex;
  flex-direction: row;
}

.cafe__main__right {
  margin-left: 2rem;
}

.cafe__main__text {
  color: #444444;
  font-size: 0.9rem;
}

.bold-red {
  color: #ff4800;
  font-style: italic;
  font-weight: bold;
}

.bold-gray {
  color: #444444;
  font-style: italic;
  font-weight: bold;
}

.red-colour {
  color: #ff4800;
}

.cafe__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.cafe__cards__item:hover {
  background-image: url(../images/divider.png);
  opacity: 0.7;
  transition: 0.2s;
}

.cafe__features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cafe__features__divider {
  width: 460px;
  height: 5%;
  margin-top: 2rem;
}

.cafe__features__item-left {
  justify-self: end;
  width: 460px;
}

.cafe__features__item-left-hover:hover {
  background-image: url(../images/divider.png);
  opacity: 0.7;
  transition: 0.2s;
}

.cafe__features__item-right {
  justify-self: end;
  width: 460px;
}

.cafe__features__item-right-hover:hover {
  background-image: url(../images/divider.png);
  opacity: 0.7;
  transition: 0.2s;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #808080;
  padding-top: 1rem;
}

.footer li a {
  list-style: none;
  text-decoration: none;
}

.footer li a::before {
  color: #808080;
}

.footer ul li a:hover {
  text-decoration-line: underline;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 1.6rem;
  color: #808080;
  padding-left: 0;
}

.footer__nav__link {
  text-decoration: none;
  color: #808080;
}

.footer__socials {
  display: flex;
  flex-direction: row;
}

.footer__icon {
  padding: 0.5rem;
}

.footer__icon:hover {
  opacity: 0.5;
  transition: 0.2s;
}
